# General
*.class
*.log
*.pyc
*.swp
*.diff
*.patch
*.tmp
*.bak
*.hprof
*.orig
*.rej
*.swo
*.user
*.userprefs
*.lock
*.workspace
*.settings
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.jks
*.keystore
*.pem
*.pk8

# IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
client/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Android Studio & Android related
/android/app/debug
/android/app/profile
/android/app/release
**/android/.gradle
**/android/.idea
**/android/**/*.jks
**/android/**/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS related
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/Engine.framework
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/Runner.xcworkspace
**/ios/.generated/
**/ios/Flutter/ephemeral/
**/ios/Flutter/build/
**/ios/.vagrant/
**/ios/DerivedData/
**/ios/.pub-cache/

# macOS related
**/macos/Pods/
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.*

# Web related
web:build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules (explicit includes)
!**/ios/Flutter/AppFrameworkInfo.plist
!**/ios/Flutter/Debug.xcconfig
!**/ios/Flutter/Release.xcconfig